<h2 mat-dialog-title>За платформата</h2>
<mat-dialog-content class="mat-typography">
<p>Този проект е създаден като алтернатова на AirBG, в момента няма възможност за свързване, но има следната идеология:</p>
<ol>
  <li>Безплатно и Open Source</li>
  <li>Лесна регистрация, само за 5 мин</li>
  <li>Комуникация изцяло GraphQL или REST</li>
  <li>Microservice архитектура</li>
  <li>Изяло облачно базиран</li>
  <li>Всичко се пази</li>
  <li>Всеки само избира какво да споделя</li>
</ol>
<p>Пример за свързване</p>
<ol>
  <li>Публикуване на данни:
  <code>POST https://example.com/api/v1/$token/$station-name?data="temp, press, hum,... other"</code></li>
  <li>Аналогично е получаването</li>
</ol>
<p>За контакт: ivanov@streetcreed.com</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Затвори</button>
</mat-dialog-actions>
